<%- include('./include/_header') %>
<body>
  <!-- Header -->
  <header class="border-shadow">
    <div class="container ">
      <nav>
        <a href="/"><i class="fa-solid fa-address-book"></i> My Contacts</a>
      </nav>
    </div>
  </header>
  <!-- /Header -->

  <!-- Main -->
  <main id="site-main">
    <div class="button-box">
      <a href="/add" class="btn btn-light"><i class="fa-solid fa-user-plus"></i>연락처 추가</a>
    </div>
  
    <table class="table">
      <thead>
        <tr>
          <th>이름</th>
          <th>메일 주소</th>
          <th>전화번호</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% contacts.forEach(contact=>{ %>
        <tr>
          <td><%= contact.name %></td>
          <td><%= contact.email %></td>
          <td><%= contact.phone %></td>
          <td>
            <a href="/<%=contact.id%>" class="btn update" title="수정">
              <i class="fas fa-pencil-alt"></i>
            </a>
            <form action="/<%=contact.id%>?_method=DELETE" method="POST" style="display:inline">
              <input type="submit" class="btn delete" title="삭제" value="x">
            </form>
           
          </td>
        </tr>
      <% }) %>
      </tbody>
    </table>
  </main>
  <!-- /Main -->
  
  <%- include('./include/_footer') %>